<div class="table-responsive">
    <table class="table table-sm sg-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value (rem / px)</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>

    {{# font-sizes }}
    <tr>
        <td>$font-size-{{ name }}</td>
        <td>{{ value }}rem / {{ toPx value }}px</td>
        <td>{{ ../spacer-base }}rem * {{value}}</td>
    </tr>
    {{/ font-sizes }}
        </tbody>
    </table>
</div>
<small>{{{ meta.description }}}</small>